.btn--new {
  width: 100%;
  border: none;
  position: relative;
  border-radius: 10px;
  height: 35px;
  background-color: #3177ff;
  color: white;
  cursor: pointer;
}

.btn--new::before {
  content: "\2b";
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: 50%;
  padding-right: 50px;
  transform: translate(-50%, -50%);
  font-size: 1.4rem;
}

.card {
  height: 49px;
  width: 100%;
  color: rgba(55, 53, 47, 0.35);
  background-color: white;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 2px 4px;
}

.task{
  width:100% !important;
  height: 40px !important;
}

@media only screen and (min-width: 765px) {
  .card {
    height: auto;
    width: 45%;
    transition: background 0.2s ease-out;
  }
  .card:hover {
    background: rgba(55, 53, 47, 0.03);
  }
  
}

@media only screen and (min-width: 1000px) {
  .card {
    width: 30%;
  }
}
